body {
    font-family: sans-serif;
    background-color: lightblue;
    margin: 1;
    padding: 1;
    text-align: center;
}

h1 {
    background-color: rgb(225, 225, 245);
    color: black;
    margin: 2;
    padding: 15px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 21px;
}

.name-card {
    background-color: rgb(225, 225, 245);
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(130, 153, 248, 0.1);
    margin: 16px;
    padding: 21px;
    width: 221px;
    transition-duration: 2s ease;
    color: black;
}

.name-card:hover {
    transform: scale(1.06);
    background-color: rgb(39, 222, 22);
}

.name-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

h1:hover {
    transform: scale(1.06);
    background-color: rgb(39, 222, 22);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: wavy;
    border-radius: 8px;
    font-size: 16px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
    background-color: #0056b3;
}